# Dependencies
node_modules/

# Astro
.astro/
dist/

# Vercel
.vercel/

# Environment variables
.env
.env.*
!.env.example

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*